<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-default" style="border-radius: 0px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">Blog Project</a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/articles/create">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Create Article
                                </a>
                            </li>
                            <li>
                                <a href="/articles/my-articles/<%= user_id %>"><i class="fa fa-file-text-o" aria-hidden="true"></i> My Articles</a>
                            </li>
                            <li>
                                <a href="/profile/<%= username %>"><span class="glyphicon glyphicon-user"></span> <%= username %></a>
                            </li>
                            <li>
                                <a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="width: 80%">
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-weight: bold; margin: 0">Articles list of Member</h1>
                <hr />
                <div style="border: 1px solid #ddd; padding: 10px">
                    <table class="table table-hover" style="margin-bottom: 0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th style="width: 200px">Title</th>
                                <th>Author</th>
                                <th>Created Date</th>
                                <th style="width: 160px">Status</th>
                                <th style="width: 160px">Set Status</th>
                                <th style="width: 160px">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% articles.forEach(function(article) { %>
                            <tr>
                                <td><%= article.article_id %></td>
                                <td><a href="/articles/detail/<%= article.article_id %>"><%= article.title %></a></td>
                                <td><%= article.username %></td>
                                <td><%= article.create_at.toDateString() %></td>
                                <td><%= article.status %></td>
                                <% if (article.status == "waiting") { %>
                                <td>
                                    <a href="/articles/accept/<%= article.article_id %>">
                                        <button type="button" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Accept</button>
                                    </a>
                                </td>
                                <td>
                                    <a href="/articles/delete/<%= article.article_id %>">
                                        <button type="button" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Delete</button>
                                    </a>
                                </td>
                                <% } %>
                                <% if (article.status == "accepted") { %>
                                <td>
                                    <a href="/articles/reject/<%= article.article_id %>">
                                        <button type="button" class="btn btn-primary"><i class="fa fa-lock" aria-hidden="true"></i> Reject</button>
                                    </a>
                                </td>
                                <td>
                                    <a href="/articles/delete/<%= article.article_id %>">
                                        <button type="button" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Delete</button>
                                    </a>
                                </td>
                                <% } %>
                                <% if (article.status == "rejected") { %>
                                <td colspan="2">
                                    <a href="/articles/unreject/<%= article.article_id %>">
                                        <button type="button" class="btn btn-warning"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Unreject</button>
                                    </a>
                                </td>
                                <% } %>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <%include partials/footer.ejs%>
</body>
</html>