<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <title>Article Detail</title>
</head>
<body>
<br>
<div class="card" style="width: 80%; margin-right: auto; margin-left: auto">
    <div class="card-body">
        <% article.forEach(function (article) { %>
        <h2><%= article.title %></h2>
        <small>Author: <%= article.fullname %></small>
        <a href="/articles/edit/<%= article.article_id %>" style="margin-right: 10%; float: right">
            <button type="button" class="btn btn-outline-primary">Edit</button>
        </a>
        <br>
        <small>Created Date: <%= article.create_at.toDateString() %></small>
        <br><br>
        <div><%- article.content %></div>
        <% }); %>
    </div>

    <div style="width:95%; margin-right: auto; margin-left: auto">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">User</span>
            <input type="text" class="form-control" placeholder="Your comment" aria-describedby="basic-addon1"
                   name="comment">
        </div>
        <br>
        <ul class="list-group">
            <li class="list-group-item">
                <p><strong>User(Commenter)</strong>
                    <small>Created(Date Time)</small>
                </p>
                <p>Content..............................</p>
            </li>
            <li class="list-group-item">
                <p><strong>User(Commenter)</strong>
                    <small>Created(Date Time)</small>
                </p>
                <p>Content..............................</p>
            </li>
        </ul>
        <br>
    </div>
</div>
</body>
</html>