<!doctype html>
<html lang="en">
<head>
    <title>Article Detail</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css"/>
</head>
<body>
<div class="page">
    <header>
        <nav class="navbar navbar-default" style="border-radius: 0px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">Blog Project</a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <% if(role === 'moderator') { %>
                            <li>
                                <a href="/articles/list" style="float: right"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Articles</a>
                            </li>
                            <% } else { %>
                            <li>
                                <a href="/articles" style="float: right"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Articles</a>
                            </li>
                            <% } %>
                            <li>
                                <a href="/articles/my-articles/<%= user_id %>"><i class="fa fa-file-text-o" aria-hidden="true"></i> My Articles</a>
                            </li>
                            <li>
                                <a href="/profile/<%= username %>"><span class="glyphicon glyphicon-user"></span> <%= username %></a>
                            </li>
                            <li>
                                <a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="main-page">
        <div class="container" style="width: 80%">
            <div class="row">
                <div class="col-md-12">
                    <% article.forEach(function (article) { %>
                    <h2 style="font-weight: bold; margin-top: 0"><%= article.title %></h2>

                    <% if(authorId === user_id || role === 'moderator') { %>
                    <a href="/articles/delete/<%= article.article_id %>" style="float: right">
                        <button type="button" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                    </a>
                    <a href="/articles/edit/<%= article.article_id %>" style="float: right; margin-right: 10px">
                        <button type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                    </a>
                    <% } %>

                    <p>by <a href="#"><strong><%= article.username %></strong></a></p>
                    <p style="color: #818181">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> Posted on <%= article.create_at.toDateString() %>
                    </p>
                    <hr>
                    <article style="font-size: 16px">
                        <p><%- article.content %></p>
                    </article>
                    <hr>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5>Write a Comment:</h5>
                        </div>
                        <div class="panel-body">
                            <form action="/articles/comment/<%= article.article_id %>" method="post">
                                <div class="form-group">
                                    <textarea name="comment" class="form-control" rows="3" placeholder="Write a Comment..."></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Comment</button>
                            </form>
                        </div>
                    </div>
                    <ul class="list-group">
                        <% comments.forEach(function (comment) { %>
                        <li class="list-group-item">
                            <p>
                                <strong><%= comment.username %></strong> - <small><%= comment.created_at.toDateString() %></small>
                                <% if(comment.user_id === user_id) { %>
                                <a href="/articles/comments/delete/<%= comment.comment_id %>/<%= article.article_id %>" style="float: right">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                                <% } %>
                            </p>
                            <p><%= comment.content %></p>
                        </li>
                        <% }); %>
                    </ul>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>