<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Articles List</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header">
    <%include partials/navbar.ejs%>
</div>
<div class="container" align="center">
    <h1 align="center">Articles List</h1>
    <a href="/articles/create" style="margin-right: 10%; float: right">
        <button type="button" class="btn btn-outline-primary">Create new Article</button>
    </a>
    <br><br>
    <table class="table table-hover" style="width: 80% ;" align="center">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Created Date</th>
            <th>Status</th>
            <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% articles.forEach(function(article) { %>
        <tr>
            <td><%= article.article_id %></td>
            <td><a href="/articles/detail/<%= article.article_id %>"><%= article.title %></a></td>
            <td><%= article.username %></td>
            <td><%= article.create_at.toDateString() %></td>
            <td><%= article.status %></td>

            <% if (article.status == "waiting") { %>
            <td><a href="/articles/accept/<%= article.article_id %>">
                    <button type="button" class="btn btn-outline-warning">Accept</button>
                </a></td>
            <td><a href="/articles/delete/<%= article.article_id %>">
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </a></td>
            <% } %>
            <% if (article.status == "accepted") { %>
            <td><a href="/articles/reject/<%= article.article_id %>">
                    <button type="button" class="btn btn-outline-warning">Reject</button>
                </a></td>
            <td><a href="/articles/delete/<%= article.article_id %>">
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </a></td>
            <% } %>
            <% if (article.status == "rejected") { %>
            <td colspan="2"><a href="/articles/unreject/<%= article.article_id %>">
                    <button type="button" class="btn btn-outline-warning">Unreject</button>
                </a></td>
            <% } %>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>
</body>
</html>