<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User List</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css" />
</head>
<body>
<div class="page">
    <header>
        <nav class="navbar navbar-default" style="border-radius: 0px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">Blog Project</a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/profile/<%= username %>"><span class="glyphicon glyphicon-user"></span> <%= username %></a>
                            </li>
                            <li>
                                <a href="/signout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="main-page">
        <div class="container" style="width: 80%">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-weight: bold; margin: 0">User List</h1>
                    <hr />
                    <div style="padding: 10px; border: 1px solid #ddd">
                        <table class="table table-hover" style="margin-bottom: 0px">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Full Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th width="110px">Role</th>
                                <th width="190px">Set Role</th>
                                <th width="120px">Banning</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% credentials.forEach(function(credential){ %>
                            <tr>
                                <td><%= credential.user_id %></td>
                                <td><%= credential.username %></td>
                                <td><%= credential.fullname %></td>
                                <td><%= credential.phone %></td>
                                <td><%= credential.email %></td>
                                <td><%= credential.address %></td>
                                <td><%= credential.role %></td>
                                <% if(credential.role == "admin") { %>
                                <td colspan="2"></td>
                                <% } %>
                                <% if(credential.role == "moderator") { %>
                                <td>
                                    <a href="/admin/credentials/down_to_mem/<%= credential.user_id %>">
                                        <button type="button" class="btn btn-success"><i class="fa fa-arrow-down" aria-hidden="true"></i> Member</button>
                                    </a>
                                </td>
                                <td>
                                    <a href="/admin/credentials/banning/<%= credential.user_id %>">
                                        <button type="button" class="btn btn-danger"><i class="fa fa-ban" aria-hidden="true"></i> Banned</button>
                                    </a>
                                </td>
                                <% } %>
                                <% if(credential.role == "member") { %>
                                <td>
                                    <a href="/admin/credentials/up_to_mod/<%= credential.user_id %>">
                                        <button type="button" class="btn btn-success"><i class="fa fa-arrow-up" aria-hidden="true"></i> Moderator</button>
                                    </a>
                                </td>
                                <td>
                                    <a href="/admin/credentials/banning/<%= credential.user_id %>">
                                        <button type="button" class="btn btn-danger"><i class="fa fa-ban" aria-hidden="true"></i> Banned</button>
                                    </a>
                                </td>
                                <% } %>
                                <% if(credential.role == "banner") { %>
                                <td colspan="1"></td>
                                <td colspan="1">
                                    <a href="/admin/credentials/unban/<%= credential.user_id %>">
                                        <button type="button" class="btn btn-warning"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Unban</button>
                                    </a>
                                </td>
                                <% } %>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>