<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header">
    <%include partials/navbar.ejs%>
</div>
<div class="container">
    <h1 align="center">User List</h1>
    <br><br>
    <table class="table table-hover" style="width: 80% ;" align="center">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Fullname</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>Role</th>
            <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        <% credentials.forEach(function(credential){ %>
        <tr>
            <td><%= credential.user_id %></td>
            <td><%= credential.username %></td>
            <td><%= credential.fullname %></td>
            <td><%= credential.phone %></td>
            <td><%= credential.email %></td>
            <td><%= credential.address %></td>
            <td><%= credential.role %></td>
            <% if(credential.role == "admin") { %>
            <td colspan="2"></td>
            <% } %>
            <% if(credential.role == "moderator") { %>
            <td><a href="/admin/credentials/down_to_mem/<%= credential.user_id %>">
                    <button type="button" class="btn btn-outline-warning">Down to Member</button>
                </a></td>
            <td><a href="/admin/credentials/banning/<%= credential.user_id %>">
                    <button type="button" class="btn btn-outline-danger">Banning</button>
                </a></td>
            <% } %>
            <% if(credential.role == "member") { %>
            <td><a href="/admin/credentials/up_to_mod/<%= credential.user_id %>">
                    <button type="button" class="btn btn-outline-warning">Up to Moderator</button>
                </a></td>
            <td><a href="/admin/credentials/banning/<%= credential.user_id %>">
                    <button type="button" class="btn btn-outline-danger">Banning</button>
                </a></td>
            <% } %>
            <% if(credential.role == "banner") { %>
            <td colspan="2"><a href="/admin/credentials/unban/<%= credential.user_id %>">
                    <button type="button" class="btn btn-outline-warning">Unban</button>
                </a></td>
            <% } %>
            <% if(credential.role == "waiting") { %>
            <td colspan="2"><a href="/admin/credentials/accept/<%= credential.user_id %>">
                    <button type="button" class="btn btn-outline-warning">Accept</button>
                </a></td>
            <% } %>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>
</body>
</html>