<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header">
    <%include partials/navGuest.ejs%>
</div>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">  <h4 >User Profile</h4></div>
                <div class="panel-body">
                    <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                        <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">


                    </div>
                    <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
                        <div class="container" >
                            <h2><%=result.fullname%></h2>
                            <p>an   <b><%=result.role%></b></p>

                        </div>
                        <hr>
                        <ul class="container details" >
                            <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span><%=result.email%></p></li>
                            <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span><%=result.phone%></p></li>
                            <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span><%=result.address%></p></li>
                        </ul>
                        <hr>
                        <div class="col-sm-5 col-xs-6 tital " >Date Of Joining: <%=result.created%></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <%include partials/footer%>
</div>

</body>
</html>