<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-default" style="border-radius: 0px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">Blog Project</a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/profile/<%= username %>"><span class="glyphicon glyphicon-user"></span> <%= username %></a>
                            </li>
                            <li>
                                <a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="profile">
        <div class="container">
            <div class="row">
                <div class="panel panel-default" style="width: 50%; margin: 0px auto; border-radius: 0px;">
                    <div class="panel-heading">
                        <h4 style="font-weight: bold"><i class="fa fa-user" aria-hidden="true"></i> User Profile</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12 col-xs-12 col-sm-6 col-lg-12" >
                            <div>
                                <h2 style="font-weight: bold; margin: 0">Information</h2>
                            </div>
                            <hr>
                            <form action="/profile/<%= username %>" method="post">
                                <% profile.forEach(function (user) { %>
                                    <div class="form-group">
                                        <label>Fullname</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="<%= user.fullname %>" name="fullname" style="width: 500px" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="<%= user.email %>" name="email" style="width: 500px" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="<%= user.phone %>" name="phone" style="width: 500px" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="<%= user.address %>" name="address" style="width: 500px" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary" value="<%= user.profile_id %>">Update Profile</button>
                                    </div>
                                <% }) %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%include partials/footer.ejs%>
</body>
</html>