<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css"/>
</head>
<body>
<div class="page">
    <header>
        <nav class="navbar navbar-default" style="border-radius: 0px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">Blog Project</a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="main-page">
        <div class="container" style="width: 60%">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="margin: 0 auto; border-radius: 5px;">
                        <div class="panel-heading" style="background: #f8f8f8; padding: 20px">
                            <h3 class="panel-title" style="font-weight: bold">
                                <span class="glyphicon glyphicon-user"></span> Register
                            </h3>
                        </div>
                        <% if(message === '4'){ %>
                        <div class="alert alert-warning" style="margin-bottom: 0; border-radius: 0; padding: 20px">
                            <strong>Warning! </strong> Please, enter required fields!
                        </div>
                        <% } %>
                        <% if(message === 'signup successfuly'){ %>
                        <div class="alert alert-success" style="margin-bottom: 0; border-radius: 0; padding: 20px">
                            <strong>Success!</strong> Signup Successfuly.
                        </div>
                        <% } %>
                        <% if(message === '3'){ %>
                        <div class="alert alert-warning" style="margin-bottom: 0; border-radius: 0; padding: 20px">
                            <strong>Warning! </strong> Fomat email not correct, please enter again!
                        </div>
                        <% } %>
                        <% if(message === 'this acount existed'){ %>
                        <div class="alert alert-warning" style="margin-bottom: 0; border-radius: 0; padding: 20px">
                            <strong>Warning</strong> This acount existed.
                        </div>
                        <% } %>

                        <% if(message === '1'){ %>
                        <div class="alert alert-warning" style="margin-bottom: 0; border-radius: 0; padding: 20px">
                            <strong>Warning</strong> You must put number of password between 6 to 16 character
                        </div>
                        <% } %>

                        <% if(message === '2'){ %>
                        <div class="alert alert-warning" style="margin-bottom: 0; border-radius: 0; padding: 20px">
                            <strong>Warning</strong> Phone number not a number, please enter again!
                        </div>
                        <% } %>
                        <div class="panel-body" style="padding: 20px">
                            <form id='signup-form' action="/signup" method="post">
                                <div class="col-md-6" style="padding-left: 0">
                                    <div class="form-group">
                                        <span><i class="fa fa-user fa" aria-hidden="true"></i> </span><label class="control-label" for="lname">User Name *</label>
                                        <div class="col-sm-12 input-group">

                                            <input id="username" name="username" type="text" placeholder="User Name" class="form-control" value="<%=username%>"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <span><i class="fa fa-lock fa-lg" aria-hidden="true"></i> </span><label class="control-label" for="city">Password *</label>
                                        <div class="col-sm-12 input-group">

                                            <input id="password" name="password" type="password" placeholder="Password" class="form-control" value="<%=password%>"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <span><i class="fa fa-lock fa-lg" aria-hidden="true"></i> </span><label class="control-label" for="city">Confirm password *</label>
                                        <div class="col-sm-12 input-group">

                                            <input id="passwordConfirm" name="passwordConfirm" type="password" placeholder="Confirm Password" class="form-control" value=""/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="padding-right: 0">
                                    <div class="form-group">
                                        <span><i class="fa fa-users fa" aria-hidden="true"></i> </span><label class="control-label" for="fname">Full Name *</label>
                                        <div class="col-sm-12 input-group">

                                            <input id="fullname" name="fullname" type="text" placeholder="Full Name" class="form-control" value="<%=fullname%>"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <span><i class="fa fa-envelope fa" aria-hidden="true"></i> </span><label class="control-label" for="email">Email</label>
                                        <div class="col-sm-12 input-group">

                                            <input id="email" name="email" type="email" placeholder="Email" class="form-control" value="<%=email%>"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <span><i class="fa fa-phone" aria-hidden="true"></i> </span><label class="control-label" for="addr1">Phone number</label>
                                        <div class="col-sm-12 input-group">

                                            <div>
                                                <input id="phoneNumber" name="phoneNumber" type="number" placeholder="Phone" class="form-control" value="<%=phone%>"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="notes">Address</label>
                                        <div class="col-sm-12 input-group">
                                            <textarea class="form-control" id="address" name="address" placeholder="Address" style="border-radius: 4px" value="<%=address%>"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12 input-group">
                                            <button class="btn btn-primary" type="submit" name="submit" id="submit">Sign Up</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script>
    // just for the demos, avoids form submit

    $( "#signup-form" ).validate({
      rules: {
        fullname:{
          required: true
        },
        username: {
           required: true
        },
        password: {
            required: true
        },
        passwordConfirm:{
            required: true
        },
        phoneNumber:{
            minlength: 10,
            maxlength: 11
        },

      },
      messages:{
        fullname: 'Please enter full name',
        username: 'Please enter username',
        password: 'Please enter password',
        passwordConfirm: 'Please enter password confirm',
        phoneNumber: 'the number of phone number must between 10 and 11'
      },
        submitHandler: function(form) {
        form.submit();
        }

    });
</script>
</body>
</html>